:root {
  --header-height: 60px;
  --glassy-background: rgb(from var(--background-color-alt) r g b / 85%);
  --image-width: 90px;
  --image-height: 125px;
  --container-max-width: 1200px;
  --container-max-width-mobile: 95vw;

  /* Customs */
  --logo-small-size: 40px;
  --card-width: 160px;
  --card-aspect-ratio: 2 / 3;
  --grid-gap: var(--size-md);
  --grid-padding: var(--size-md);
}
