.about {
  width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: var(--size-default);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--focus-border-color);
    text-align: center;
  }

  img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }
}
