:host {
  --float-actions-safe-area: 72px;

  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-header {
  z-index: 2;
}

@media (width > 1250px) {
  .main-header {
    display: none;
  }
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  display: none;
  width: var(--sidebar-width);
  flex-shrink: 0;
  background-color: var(--glassy-background);
  overflow-y: auto;
  padding: var(--size-md);
  z-index: 1;
}

@media (width > 1250px) {
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}

.main-body {
  box-sizing: border-box;
  padding: var(--size-md);
  overflow: auto;
  flex: 1;
  max-height: calc(100vh - var(--header-height));
  max-height: calc(100svh - var(--header-height));
  max-height: calc(100dvh - var(--header-height));
  z-index: 1;
}

.main-body:has(ct-list),
.main-body:has(ct-settings),
.main-body:has(ct-statistics),
.main-body:has(ct-about) {
  padding-bottom: var(--size-md);
}

@media (width > 1250px) {
  .main-body {
    padding-bottom: var(--size-md);
    max-height: 100vh;
    max-height: 100svh;
    max-height: 100dvh;
  }
}
