:host {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

ct-header {
  z-index: 2;
}

.main-body {
  padding: var(--size-default);
  overflow: auto;
  flex: 1;
  max-height: calc(100vh - var(--header-height));
  max-height: calc(100svh - var(--header-height));
  max-height: calc(100dvh - var(--header-height));
}
