:host {
  display: block;
  opacity: 0;
  animation: skeleton-fade-in 500ms ease forwards;
}

.skeleton {
  .skeleton-thumb {
    width: 100%;
    aspect-ratio: var(--card-aspect-ratio);
    background-color: var(--base-color-darker);
  }

  .skeleton-body {
    padding: var(--size-xs);
    display: flex;
    flex-direction: column;
    gap: var(--size-2xs);

    .skeleton-line {
      background-color: var(--base-color-darker);
      display: block;
      height: var(--font-size-sm);
      border-radius: var(--border-radius);
    }

    span:nth-of-type(1) {
      width: 80%;
    }

    span:nth-of-type(2) {
      width: 50%;
    }
  }
}

.shine {
  background: linear-gradient(
      90deg,
      var(--base-color-darker) 33%,
      var(--base-color-lighter) 50%,
      var(--base-color-darker) 66%
    )
    var(--base-color-darker);
  background-size: 300% 100%;
  animation: shine 0.75s infinite;
}

@keyframes shine {
  0% {
    background-position: right;
  }
}

@keyframes skeleton-fade-in {
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .shine {
    animation: none;
    background: var(--base-color-darker);
  }

  :host {
    opacity: 1;
    animation: none;
  }
}
