.page {
  display: flex;
  background-color: var(--glassy-background);
  border-radius: var(--border-radius);
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--size-md);
  z-index: 1;
  position: relative;

  @media (width <= 520px) {
    max-width: var(--container-max-width-mobile);
  }
}
