:host {
  display: contents;
}

.float-buttons-container {
  position: absolute;
  right: var(--size-xs);
  bottom: calc(100% + var(--size-xs));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-xs);
  flex-shrink: 0;
}

.float-button {
  height: var(--float-button-container-size);
  width: var(--float-button-container-size);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;

  button {
    height: 100%;
    width: 100%;
  }
}

.float-button-basic {
  background: none;
}

.float-show-button {
  flex-shrink: 0;
  margin-left: auto;
}

.ai-offline-icon {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%;

  libc-image-icon {
    width: 100%;
    height: 100%;
  }
}
