:host {
  --float-button-container-size: 45px;
  --float-search-height: 58px;
  --float-search-side-margin: 0.45rem;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.float-search-bar {
  position: absolute;
  bottom: var(--size-xs);
  left: calc(var(--size-xs) + var(--float-search-side-margin));
  right: calc(var(--size-xs) + var(--float-search-side-margin));
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: var(--size-xs);
  max-width: var(--container-max-width);
  min-height: var(--float-search-height);
  padding: var(--size-xs);
  background-color: var(--glassy-background);
  border-radius: calc(2 * var(--border-radius));
  pointer-events: auto;
}

.float-search-bar-menu-only {
  left: calc(var(--size-xs) + var(--float-search-side-margin));
  right: auto;
  width: auto;
  margin-inline: 0;
}

.menu-button {
  flex: 0 0 var(--float-button-container-size);
  height: var(--float-button-container-size);
  width: var(--float-button-container-size);
  border-radius: var(--border-radius);
}

@media (width > 768px) {
  :host {
    left: 280px;
  }

  .menu-button {
    display: none;
  }

  div.float-search-content {
    margin-left: var(--size-md);
  }

  .float-search-bar-menu-only {
    display: none;
  }
}

.float-search-content {
  min-width: 0;
  flex: 1;
  margin-left: 0;
}

.float-actions-slot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.float-button {
  height: var(--float-button-container-size);
  width: var(--float-button-container-size);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;

  button {
    height: 100%;
    width: 100%;
  }
}

.float-button-scroll-to-top {
  position: absolute;
  bottom: calc(var(--float-search-height) + 2 * var(--size-xs));
  left: 50%;
  z-index: 1;
  height: auto;
  width: max-content;
  transform: translateX(-50%);
}

.scroll-to-top-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-2xs);
  height: auto;
  min-width: 100%;
  padding-block: var(--size-3xs);
  padding-inline: var(--size-2xs);
  color: var(--main-color);
  white-space: nowrap;
  background: transparent;
  border: none;
  font: inherit;
  font-size: var(--font-size-sm);

  .material-icons {
    font-size: var(--font-size-sm);
  }
}
