<section
  class="float-search-bar"
  data-test-id="float-search-bar"
  [class.float-search-bar-menu-only]="!searchTemplate() && !showFloatActions()"
>
  <button
    data-test-id="nav-menu-button"
    class="menu-button button-icon material-icons"
    [attr.aria-label]="translations.menu()"
    [title]="translations.menu()"
    (click)="onOpenMenu()"
  >
    menu
  </button>
  @if (searchTemplate(); as template) {
    <div class="float-search-content">
      <ng-container [ngTemplateOutlet]="template" />
    </div>
  }

  @if (showFloatActions() && actionsComponent(); as component) {
    <ng-container [ngComponentOutlet]="component" />
  }
</section>

@if (config().scrollToTopAvailable) {
  <div
    class="float-button float-button-scroll-to-top"
    [class.float-button-scroll-to-top-actions-offset]="actionButtonsVisible()"
    [class.float-button-scroll-to-top-bar-offset]="searchTemplate() || showFloatActions()"
    animate.enter="animation-fade-in"
    animate.leave="animation-fade-out"
  >
    <button
      data-test-id="scroll-to-top"
      class="button-icon material-icons"
      [attr.aria-label]="translations.scrollToTop()"
      [title]="translations.scrollToTop()"
      (click)="onScrollToTop()"
    >
      arrow_upward
    </button>
  </div>
}
