<libc-dialog-shell>
  <ng-container dialog-shell-actions>
    @if (editMode()) {
      <button class="button-icon material-icons" [title]="('ReadOnly' | signalTranslate)()" (click)="onReadOnly()">
        visibility
      </button>
      <button class="button-icon material-icons" [title]="('Save' | signalTranslate)()" (click)="onSaveChanges()">
        save
      </button>
    } @else {
      @if (permissionUpdate()) {
        <button class="button-icon material-icons" [title]="('Edit' | signalTranslate)()" (click)="onEdit()">
          edit
        </button>
      }
      @if (permissionDelete()) {
        <button
          class="button-icon material-icons button-danger"
          [title]="('Delete' | signalTranslate)()"
          (click)="onDelete()"
        >
          delete
        </button>
      }
    }
  </ng-container>
  <ng-container dialog-shell-content>
    @if (editMode()) {
      <div class="content-container-editor">
        <libc-textarea [control]="rawContentControl" [autoHeight]="true"></libc-textarea>
      </div>
    } @else {
      <div class="content-container-parsed-content" [innerHTML]="parsedMdContent()"></div>
    }
  </ng-container>
</libc-dialog-shell>
