<libc-dialog-shell>
  <ng-container dialog-shell-top-content>
    <h3>{{ ('Title.CollectionItem' | signalTranslate)() }}</h3>
  </ng-container>
  <ng-container dialog-shell-content>
    @if (editMode()) {
      <div class="content-container-editor">
        <libc-textarea [control]="rawContentControl" [autoHeight]="true"></libc-textarea>
      </div>
    } @else {
      <div class="content-container-parsed-content" [innerHTML]="parsedMdContent()"></div>
    }
  </ng-container>
  <ng-container dialog-shell-bottom-content>
    @if (editMode()) {
      <button [title]="('ReadOnly' | signalTranslate)()" (click)="onReadOnly()">
        {{ ('ReadOnly' | signalTranslate)() }}
      </button>
      <button [title]="('Save' | signalTranslate)()" (click)="onSaveChanges()">
        {{ ('Save' | signalTranslate)() }}
      </button>
    } @else {
      @if (permissionUpdate()) {
        <button [title]="('Edit' | signalTranslate)()" (click)="onEdit()">
          {{ ('Edit' | signalTranslate)() }}
        </button>
      }
      @if (permissionDelete()) {
        <button class="button-danger" [title]="('Delete' | signalTranslate)()" (click)="onDelete()">
          {{ ('Delete' | signalTranslate)() }}
        </button>
      }
    }
  </ng-container>
</libc-dialog-shell>
