<libc-dialog-shell>
  <ng-container dialog-shell-top-content>
    <h3 class="dialog-title">
      <i class="material-icons" [title]="dialogTitle()"> add_photo_alternate </i>
      {{ dialogTitle() }}
    </h3>
  </ng-container>
  <ng-container dialog-shell-content>
    <form role="form" [formRoot]="form">
      <libc-input
        data-test-id="new-item-search"
        [label]="translations.search()"
        [hint]="translations.messageNewCollectionItemSearch()"
        [mandatory]="true"
        [formField]="form.searchText"
        [showReset]="true"
      />
      @if (matchedContent().length) {
        @if (showLibrarySelect()) {
          <libc-select
            data-test-id="new-item-library"
            [label]="translations.library()"
            [formField]="form.targetOwnerShareCode"
            [options]="libraryOptions()"
          />
        }
        <libc-select
          data-test-id="new-item-content-select"
          [mandatory]="true"
          [label]="translations.selectedContent()"
          [formField]="form.selectedIMDbId"
          [options]="matchedContent()"
        >
          <ng-container errors>
            @if (formErrors.selectedIMDbId.knownIMDbId()) {
              {{ translations.validationKnownIMDbId() }}
            }
          </ng-container>
        </libc-select>
        @if (!internalListMode()) {
          <libc-input
            data-test-id="new-item-user-rate"
            type="number"
            [label]="translations.labelUserRate()"
            [formField]="form.userRate"
            [step]="0.1"
          >
            <ng-container errors>
              @if (formErrors.userRate.min() || formErrors.userRate.max()) {
                {{ translations.validationUserRate() }}
              }
            </ng-container>
          </libc-input>
        }
        <libc-autocomplete [label]="translations.tags()" [hint]="translations.messageTags()" [formField]="form.tags">
          <ng-container errors>
            @if (formErrors.tags.usedInternalTag()) {
              {{ translations.validationUsedInternalTag() }}
            }
          </ng-container></libc-autocomplete
        >
        @if (!internalListMode()) {
          <libc-checkbox
            data-test-id="new-item-watched"
            [formField]="form.watched"
            [label]="translations.collectionItemWatched()"
          />
        }
        @if (seriesTracker()) {
          <libc-checkbox
            data-test-id="new-item-fetch-series-metadata"
            [formField]="form.fetchSeriesMetadata"
            [label]="translations.fetchSeriesMetadata()"
            [hint]="translations.messageFetchSeriesMetadata()"
          />
        }
      }
      <div class="form-buttons">
        <button data-test-id="new-item-save" type="submit" [disabled]="form().invalid()" (click)="submitMode.set(null)">
          <i class="material-icons" [title]="translations.save()"> save </i>
          {{ translations.save() }}
        </button>
        <button
          data-test-id="new-item-save-and-new"
          type="submit"
          [disabled]="form().invalid()"
          (click)="submitMode.set('new')"
        >
          <i class="material-icons" [title]="translations.saveAndNew()"> add </i>
          {{ translations.saveAndNew() }}
        </button>
        <button
          data-test-id="new-item-save-and-close"
          type="submit"
          [disabled]="form().invalid()"
          (click)="submitMode.set('close')"
        >
          <i class="material-icons" [title]="translations.saveAndClose()"> door_back </i>
          {{ translations.saveAndClose() }}
        </button>
      </div>
    </form>
  </ng-container>
</libc-dialog-shell>
