<libc-dialog-shell>
  <ng-container dialog-shell-top-content>
    <h3 class="dialog-title">
      <i class="material-icons" [title]="('Title.CollectionItem' | signalTranslate)()"> movie </i>
      {{ ('Title.CollectionItem' | signalTranslate)() }}
    </h3>
  </ng-container>
  <ng-container dialog-shell-content>
    <div class="editor-pane">
      <libc-markdown-editor
        [formField]="rawContentField"
        [autoHeight]="true"
        [editMode]="editMode()"
      ></libc-markdown-editor>
    </div>
  </ng-container>
  <ng-container dialog-shell-bottom-content>
    @if (editMode()) {
    <button data-test-id="item-dialog-read-only" (click)="onReadOnly()">
      <i class="material-icons" [title]="('ReadOnly' | signalTranslate)()"> visibility </i>
      {{ ('ReadOnly' | signalTranslate)() }}
    </button>
    <button data-test-id="item-dialog-save" (click)="onSaveChanges()">
      <i class="material-icons" [title]="('Save' | signalTranslate)()"> save </i>
      {{ ('Save' | signalTranslate)() }}
    </button>
    } @else { @if (permissionUpdate()) {
    <button data-test-id="item-dialog-edit" (click)="onEdit()">
      <i class="material-icons" [title]="('Edit' | signalTranslate)()"> edit </i>
      {{ ('Edit' | signalTranslate)() }}
    </button>
    @if (watched()) {
    <button data-test-id="item-dialog-mark-unwatched" (click)="onMarkAsUnwatched()">
      <i class="material-icons" [title]="('MarkAsUnwatched' | signalTranslate)()"> visibility_off </i>
      {{ ('MarkAsUnwatched' | signalTranslate)() }}
    </button>
    } @else {
    <button data-test-id="item-dialog-mark-watched" (click)="onMarkAsWatched()">
      <i class="material-icons" [title]="('MarkAsWatched' | signalTranslate)()"> visibility </i>
      {{ ('MarkAsWatched' | signalTranslate)() }}
    </button>
    } } @if (permissionDelete()) {
    <button data-test-id="item-dialog-delete" class="button-danger" (click)="onDelete()">
      <i class="material-icons" [title]="('Delete' | signalTranslate)()"> delete </i>
      {{ ('Delete' | signalTranslate)() }}
    </button>
    } }
  </ng-container>
</libc-dialog-shell>
