:host {
  width: 100%;
  display: block;
}

.collection-container {
  background-color: var(--glassy-background);
  margin: 0 auto;
  z-index: 1;
  display: block;
  position: relative;
  max-width: var(--container-max-width);
  border-radius: var(--border-radius);

  @media (width <= 520px) {
    max-width: var(--container-max-width-mobile);
  }

  libc-autocomplete {
    display: block;
    padding: var(--size-small);
  }
}
