:host {
  width: 100%;
  display: block;
}

.collection-container {
  background-color: var(--glassy-background);
  margin: 0 auto;
  z-index: 1;
  display: block;
  position: relative;
  max-width: min(var(--container-max-width), 95vw);
  border-radius: var(--border-radius);

  @media (width <= 520px) {
    max-width: var(--container-max-width-mobile);
  }

  libc-autocomplete {
    display: block;
    padding: var(--size-xs);
  }

  .search-input {
    padding: var(--size-xs);

    ct-claude-ai-input {
      display: block;
    }
  }
}
