<div class="float-button random-pick">
  <button
    class="button-icon material-icons"
    [disabled]="memosLoadNetworkStatus() === 'pending' || collectionLength() === 0"
    [title]="('RandomPick' | signalTranslate)()"
    (click)="onRandomPick()"
  >
    casino
  </button>
</div>
@if (permissionAdd()) {
  <div class="float-button add-new">
    <button
      class="button-icon material-icons"
      [disabled]="memosLoadNetworkStatus() === 'pending'"
      [title]="('AddNew' | signalTranslate)()"
      (click)="onAddNew()"
    >
      add
    </button>
  </div>
}
<div class="list" #scrollContainer>
  @if (!memosLoadNetworkStatus() || memosLoadNetworkStatus() === 'pending') {
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
  } @else {
    @for (collectionItem of paginatedCollection(); track $index) {
      @defer (prefetch on idle) {
        <ct-collection-list-item [collectionItem]="collectionItem" />
      } @placeholder {
        <ct-collection-list-item-skeleton />
      }
    } @empty {
      <div class="list-empty">
        <i class="material-icons">movie</i>
        @if (collectionLength() === 0) {
          {{ ('Message.EmptyCollection' | signalTranslate)() }}<br />
          <a (click)="onAddNew()">{{ ('Message.AddFirstCollectionItem' | signalTranslate)() }}</a>
        } @else {
          {{ ('Message.EmptySearch' | signalTranslate)() }}<br />
        }
      </div>
    }
  }
</div>
<div class="pagination">
  <button
    class="button-icon material-icons"
    [title]="('First' | signalTranslate)()"
    [disabled]="disablePreviousButton()"
    (click)="onFirstPage()"
  >
    first_page
  </button>
  <button
    class="button-icon material-icons"
    [title]="('Previous' | signalTranslate)()"
    [disabled]="disablePreviousButton()"
    (click)="onPreviousPage()"
  >
    chevron_left
  </button>
  <button
    class="button-icon material-icons"
    [title]="('Next' | signalTranslate)()"
    [disabled]="disableNextButton()"
    (click)="onNextPage()"
  >
    chevron_right
  </button>
  <button
    class="button-icon material-icons"
    [title]="('Last' | signalTranslate)()"
    [disabled]="disableNextButton()"
    (click)="onLastPage()"
  >
    last_page
  </button>
</div>
