<libc-dialog-shell>
  <ng-container dialog-shell-top-content>
    <h3 class="dialog-title">
      <i class="material-icons" [title]="('Title.NewCollectionItem' | signalTranslate)()"> add_photo_alternate </i>
      {{ ('Title.NewCollectionItem' | signalTranslate)() }}
    </h3>
  </ng-container>
  <ng-container dialog-shell-content>
    <form role="form" [formRoot]="form">
      <libc-input
        [label]="('Search' | signalTranslate)()"
        [hint]="('Message.NewCollectionItemSearch' | signalTranslate)()"
        [mandatory]="true"
        [formField]="form.searchText"
        [showReset]="true"
      />
      @if (matchedContent().length) {
      <libc-select
        [mandatory]="true"
        [label]="('SelectedContent' | signalTranslate)()"
        [formField]="form.selectedIMDbId"
        [options]="matchedContent()"
      >
        <ng-container errors>
          @if (formErrors.selectedIMDbId.knownIMDbId()) { {{ ('Validation.KnownIMDbId' | signalTranslate)() }} }
        </ng-container>
      </libc-select>
      <libc-autocomplete
        [label]="('Tags' | signalTranslate)()"
        [hint]="('Message.Tags' | signalTranslate)()"
        [formField]="form.tags"
      >
        <ng-container errors>
          @if (formErrors.tags.usedInternalTag()) { {{ ('Validation.UsedInternalTag' | signalTranslate)() }} }
        </ng-container></libc-autocomplete>
      <libc-checkbox [formField]="form.watched" [label]="('CollectionItemWatched' | signalTranslate)()" />
      }
      <div class="form-buttons">
        <button type="submit" [disabled]="form().invalid()" (click)="submitMode.set(null)">
          <i class="material-icons" [title]="('Save' | signalTranslate)()"> save </i>
          {{ ('Save' | signalTranslate)() }}
        </button>
        <button type="submit" [disabled]="form().invalid()" (click)="submitMode.set('new')">
          <i class="material-icons" [title]="('SaveAndNew' | signalTranslate)()"> add </i>
          {{ ('SaveAndNew' | signalTranslate)() }}
        </button>
        <button type="submit" [disabled]="form().invalid()" (click)="submitMode.set('close')">
          <i class="material-icons" [title]="('SaveAndClose' | signalTranslate)()"> door_back </i>
          {{ ('SaveAndClose' | signalTranslate)() }}
        </button>
      </div>
    </form>
  </ng-container>
</libc-dialog-shell>
