<libc-dialog-shell>
  <ng-container dialog-shell-top-content>
    <h3>{{ ('Title.NewCollectionItem' | signalTranslate)() }}</h3>
  </ng-container>
  <ng-container dialog-shell-content>
    <form role="form" [formGroup]="formGroup">
      <libc-input
        [label]="('Search' | signalTranslate)()"
        [hint]="('Message.NewCollectionItemSearch' | signalTranslate)()"
        [mandatory]="true"
        [control]="formGroup.controls.searchText"
        [showReset]="true"
      />
      @if (matchedContent().length) {
        <libc-select
          [mandatory]="true"
          [label]="('SelectedContent' | signalTranslate)()"
          [control]="formGroup.controls.selectedIMDbId"
          [options]="matchedContent()"
        >
          <ng-container errors>
            @if (!!formGroup.controls.selectedIMDbId.errors?.['knownIMDbId']) {
              {{ ('Validation.KnownIMDbId' | signalTranslate)() }}
            }
          </ng-container>
        </libc-select>
        <libc-autocomplete
          [label]="('Tags' | signalTranslate)()"
          [hint]="('Message.Tags' | signalTranslate)()"
          [formControl]="formGroup.controls.tags"
        />
      }
      <div class="form-buttons">
        <button [disabled]="formGroup.invalid" [title]="('Save' | signalTranslate)()" (click)="onSave()">
          {{ ('Save' | signalTranslate)() }}
        </button>
        <button [disabled]="formGroup.invalid" [title]="('SaveAndNew' | signalTranslate)()" (click)="onSave('new')">
          {{ ('SaveAndNew' | signalTranslate)() }}
        </button>
        <button [disabled]="formGroup.invalid" [title]="('SaveAndClose' | signalTranslate)()" (click)="onSave('close')">
          {{ ('SaveAndClose' | signalTranslate)() }}
        </button>
      </div>
    </form>
  </ng-container>
</libc-dialog-shell>
