<libc-dialog-shell data-test-id="item-dialog">
  <ng-container dialog-shell-top-content>
    <h3 class="dialog-title">
      <i class="material-icons" aria-hidden="true" data-test-id="item-dialog-icon">{{ dialogIcon() }}</i>
      {{ dialogTitle() }}
    </h3>
  </ng-container>
  <ng-container dialog-shell-content>
    @if (editMode()) {
      <form id="item-edit-form" class="item-form" role="form" [formRoot]="form">
        <div class="full-width image-url-field">
          @if (form.image().value()) {
            <div class="image-preview-card">
              <img class="image-example" [src]="draftImageUrl()" [attr.alt]="translations.altImageExample()" />
            </div>
          }
          <div class="image-url-input">
            <libc-input
              data-test-id="item-dialog-image"
              [label]="translations.labelImageUrl()"
              [formField]="form.image"
            />
          </div>
        </div>
        <libc-input
          data-test-id="item-dialog-title"
          [mandatory]="true"
          [label]="translations.labelTitle()"
          [formField]="form.title"
        >
          <ng-container errors>
            @if (formErrors.title.required()) {
              {{ translations.validationRequired() }}
            }
          </ng-container>
        </libc-input>
        @if (canEditImdbIdentity()) {
          <libc-input
            data-test-id="item-dialog-imdb-id"
            [mandatory]="true"
            [label]="translations.labelIMDbId()"
            [formField]="form.IMDbId"
          >
            <ng-container errors>
              @if (formErrors.IMDbId.required()) {
                {{ translations.validationRequired() }}
              }
            </ng-container>
          </libc-input>
        }
        <libc-input data-test-id="item-dialog-year" [label]="translations.labelYear()" [formField]="form.year" />
        @if (!book()) {
          <libc-select
            data-test-id="item-dialog-content-type"
            [label]="translations.type()"
            [formField]="form.contentType"
            [options]="contentTypeOptions()"
          />
        }
        @if (!book()) {
          <libc-input data-test-id="item-dialog-rate" [label]="translations.labelIMDbRate()" [formField]="form.rate">
            <ng-container errors>
              @if (formErrors.rate.rateFormat()) {
                {{ translations.validationIMDbRate() }}
              }
            </ng-container>
          </libc-input>
          <libc-input
            data-test-id="item-dialog-rotten-tomatoes-rate"
            [label]="translations.labelRottenTomatoesRate()"
            [formField]="form.rottenTomatoesRate"
          >
            <ng-container errors>
              @if (formErrors.rottenTomatoesRate.rateFormat()) {
                {{ translations.validationRottenTomatoesRate() }}
              }
            </ng-container>
          </libc-input>
          <libc-input
            data-test-id="item-dialog-metacritic-rate"
            [label]="translations.labelMetacriticRate()"
            [formField]="form.metacriticRate"
          >
            <ng-container errors>
              @if (formErrors.metacriticRate.rateFormat()) {
                {{ translations.validationMetacriticRate() }}
              }
            </ng-container>
          </libc-input>
        }
        <libc-input
          data-test-id="item-dialog-user-rate"
          type="number"
          [label]="translations.labelUserRate()"
          [formField]="form.userRate"
          [step]="0.1"
        >
          <ng-container errors>
            @if (formErrors.userRate.min() || formErrors.userRate.max() || formErrors.userRate.userRate()) {
              {{ translations.validationUserRate() }}
            }
          </ng-container>
        </libc-input>
        <libc-autocomplete
          data-test-id="item-dialog-genre"
          [label]="book() ? translations.subjects() : translations.genre()"
          [hint]="translations.hintSeparateGenres()"
          [formField]="form.genreText"
          ctGenreSuggestions
        />
        <libc-autocomplete
          data-test-id="item-dialog-tags"
          [label]="translations.tags()"
          [hint]="translations.hintSeparateTags()"
          [formField]="form.tagsText"
          ctTagSuggestions
        />
        <libc-input
          data-test-id="item-dialog-actors"
          [label]="book() ? translations.authors() : translations.actors()"
          [formField]="form.actors"
        />
        <libc-textarea
          data-test-id="item-dialog-plot"
          class="full-width"
          [label]="book() ? translations.description() : translations.plot()"
          [formField]="form.plot"
          [rows]="4"
        />
      </form>
    } @else {
      <ct-item-dialog-detail
        [collectionItem]="collectionItem()"
        [translations]="translations"
        [posterImageFailed]="posterImageFailed()"
        [imageUrl]="imageUrl()"
        [imdbUrl]="imdbUrl()"
        [trailerUrl]="trailerUrl()"
        [webSearchUrl]="webSearchUrl()"
        [isShared]="isShared()"
        [library]="library()"
        [detailTags]="detailTags()"
        [seriesTracker]="seriesTracker()"
        [book]="book()"
        [isbn]="isbn()"
        [episodeProgressText]="episodeProgressText()"
        (posterImageError)="onPosterImageError()"
      />
    }
  </ng-container>
  <ng-container dialog-shell-bottom-content>
    @if (editMode()) {
      <button
        class="button-icon button-reveal-label"
        [libcRevealLabel]="translations.backToDetails()"
        data-test-id="item-dialog-read-only"
        type="button"
        [attr.aria-label]="translations.backToDetails()"
        [title]="translations.backToDetails()"
        (click)="onReadOnly()"
      >
        <i class="material-icons" aria-hidden="true"> arrow_back </i>
        <span class="button-reveal-label-text"
          ><span>{{ translations.backToDetails() }}</span></span
        >
      </button>
      <button
        class="button-icon button-reveal-label"
        [libcRevealLabel]="translations.save()"
        data-test-id="item-dialog-save"
        type="submit"
        form="item-edit-form"
        [attr.aria-label]="translations.save()"
        [title]="translations.save()"
        [disabled]="form().invalid()"
      >
        <i class="material-icons" aria-hidden="true"> save </i>
        <span class="button-reveal-label-text" data-test-id="item-dialog-save-label"
          ><span>{{ translations.save() }}</span></span
        >
      </button>
    }
  </ng-container>
  <ng-container dialog-shell-menu-content>
    <ct-item-dialog-actions
      [translations]="translations"
      [editMode]="editMode()"
      [permissionUpdate]="permissionUpdate()"
      [permissionWatch]="permissionWatch()"
      [permissionDelete]="permissionDelete()"
      [seriesTracker]="seriesTracker()"
      [libraryItem]="libraryItem()"
      [watchLater]="watchLater()"
      [movie]="movie()"
      [series]="series()"
      [watched]="watched()"
      [favorite]="favorite()"
      [inSeriesTracker]="inSeriesTracker()"
      [inMovieTracker]="inMovieTracker()"
      [movieTrackerEnabled]="featurePreferences().movieTracker"
      [seriesTrackerEnabled]="featurePreferences().seriesTracker"
      (manageWatchedEpisodes)="onManageWatchedEpisodes()"
      (manageSeriesMetadata)="onManageSeriesMetadata()"
      (markAsUnwatched)="onMarkAsUnwatched()"
      (markAsWatched)="onMarkAsWatched()"
      (copyToSeriesTracker)="onCopyToSeriesTracker()"
      (removeFromSeriesTracker)="onRemoveFromSeriesTracker()"
      (moveToMovieTracker)="onMoveToMovieTracker()"
      (moveToSeriesTracker)="onMoveToSeriesTracker()"
      (removeFavorite)="onRemoveFavorite()"
      (markAsFavorite)="onMarkAsFavorite()"
      (edit)="onEdit()"
      (delete)="onDelete()"
    />
  </ng-container>
</libc-dialog-shell>
