@if (!editMode()) {
  @if (permissionUpdate() && tracking() && series()) {
    <button
      class="button-icon button-reveal-label"
      [libcRevealLabel]="translations().manageCompletedEpisodes()"
      data-test-id="item-dialog-manage-completed-episodes"
      [attr.aria-label]="translations().manageCompletedEpisodes()"
      [title]="translations().manageCompletedEpisodes()"
      (click)="manageCompletedEpisodes.emit()"
    >
      <i class="material-icons" aria-hidden="true"> check_circle </i>
      <span class="button-reveal-label-text"
        ><span>{{ translations().manageCompletedEpisodes() }}</span></span
      >
    </button>
    <button
      class="button-icon button-reveal-label"
      [libcRevealLabel]="translations().manageSeriesMetadata()"
      data-test-id="item-dialog-manage-series-metadata"
      [attr.aria-label]="translations().manageSeriesMetadata()"
      [title]="translations().manageSeriesMetadata()"
      (click)="manageSeriesMetadata.emit()"
    >
      <i class="material-icons" aria-hidden="true"> list </i>
      <span class="button-reveal-label-text"
        ><span>{{ translations().manageSeriesMetadata() }}</span></span
      >
    </button>
  }
  @if (finishedEnabled() && permissionWatch() && ownershipItem() && (movie() || book())) {
    @if (finished()) {
      <button
        class="button-icon button-reveal-label"
        [libcRevealLabel]="translations().markAsUnwatched()"
        data-test-id="item-dialog-mark-unwatched"
        [attr.aria-label]="translations().markAsUnwatched()"
        [title]="translations().markAsUnwatched()"
        (click)="markAsUnwatched.emit()"
      >
        <i class="material-icons" aria-hidden="true"> radio_button_unchecked </i>
        <span class="button-reveal-label-text"
          ><span>{{ translations().markAsUnwatched() }}</span></span
        >
      </button>
    } @else {
      <button
        class="button-icon button-reveal-label"
        [libcRevealLabel]="translations().markAsWatched()"
        data-test-id="item-dialog-mark-watched"
        [attr.aria-label]="translations().markAsWatched()"
        [title]="translations().markAsWatched()"
        (click)="markAsWatched.emit()"
      >
        <i class="material-icons" aria-hidden="true"> check_circle </i>
        <span class="button-reveal-label-text"
          ><span>{{ translations().markAsWatched() }}</span></span
        >
      </button>
    }
  }
  @if (trackingEnabled() && permissionWatch() && ownershipItem() && (series() || book())) {
    @if (inTracking()) {
      <button
        class="button-icon button-reveal-label"
        [libcRevealLabel]="translations().openInTracking()"
        data-test-id="item-dialog-open-in-watching"
        [attr.aria-label]="translations().openInTracking()"
        [title]="translations().openInTracking()"
        (click)="openInTracking.emit()"
      >
        <i class="material-icons" aria-hidden="true"> open_in_new </i>
        <span class="button-reveal-label-text"
          ><span>{{ translations().openInTracking() }}</span></span
        >
      </button>
      <button
        class="button-icon button-reveal-label"
        [libcRevealLabel]="translations().removeFromTracking()"
        data-test-id="item-dialog-remove-watching"
        [attr.aria-label]="translations().removeFromTracking()"
        [title]="translations().removeFromTracking()"
        (click)="removeFromTracking.emit()"
      >
        <i class="material-icons" aria-hidden="true"> format_list_numbered </i>
        <span class="button-reveal-label-text"
          ><span>{{ translations().removeFromTracking() }}</span></span
        >
      </button>
    } @else {
      <button
        class="button-icon button-reveal-label"
        [libcRevealLabel]="translations().copyToTracking()"
        data-test-id="item-dialog-copy-watching"
        [attr.aria-label]="translations().copyToTracking()"
        [title]="translations().copyToTracking()"
        (click)="copyToTracking.emit()"
      >
        <i class="material-icons" aria-hidden="true"> playlist_add </i>
        <span class="button-reveal-label-text"
          ><span>{{ translations().copyToTracking() }}</span></span
        >
      </button>
    }
  }
  @if (finishedEnabled() && watchlist() && (movie() || book()) && !inFinished()) {
    <button
      class="button-icon button-reveal-label"
      [libcRevealLabel]="translations().moveToWatched()"
      data-test-id="item-dialog-move-watched"
      [attr.aria-label]="translations().moveToWatched()"
      [title]="translations().moveToWatched()"
      (click)="moveToWatched.emit()"
    >
      <i class="material-icons" aria-hidden="true"> check_circle </i>
      <span class="button-reveal-label-text"
        ><span>{{ translations().moveToWatched() }}</span></span
      >
    </button>
  }
  @if (trackingEnabled() && watchlist() && (series() || book()) && !inTracking()) {
    <button
      class="button-icon button-reveal-label"
      [libcRevealLabel]="translations().moveToTracking()"
      data-test-id="item-dialog-move-watching"
      [attr.aria-label]="translations().moveToTracking()"
      [title]="translations().moveToTracking()"
      (click)="moveToTracking.emit()"
    >
      <i class="material-icons" aria-hidden="true"> playlist_add </i>
      <span class="button-reveal-label-text"
        ><span>{{ translations().moveToTracking() }}</span></span
      >
    </button>
  }
  @if (permissionUpdate() && ownershipItem()) {
    @if (favorite()) {
      <button
        class="button-icon button-reveal-label"
        [libcRevealLabel]="translations().removeFavorite()"
        data-test-id="item-dialog-remove-favorite"
        [attr.aria-label]="translations().removeFavorite()"
        [title]="translations().removeFavorite()"
        (click)="removeFavorite.emit()"
      >
        <i class="material-icons" aria-hidden="true"> star_outline </i>
        <span class="button-reveal-label-text"
          ><span>{{ translations().removeFavorite() }}</span></span
        >
      </button>
    } @else {
      <button
        class="button-icon button-reveal-label"
        [libcRevealLabel]="translations().markAsFavorite()"
        data-test-id="item-dialog-mark-favorite"
        [attr.aria-label]="translations().markAsFavorite()"
        [title]="translations().markAsFavorite()"
        (click)="markAsFavorite.emit()"
      >
        <i class="material-icons" aria-hidden="true"> star_rate </i>
        <span class="button-reveal-label-text"
          ><span>{{ translations().markAsFavorite() }}</span></span
        >
      </button>
    }
  }
  @if (permissionUpdate()) {
    <button
      class="button-icon button-reveal-label"
      [libcRevealLabel]="translations().edit()"
      data-test-id="item-dialog-edit"
      [attr.aria-label]="translations().edit()"
      [title]="translations().edit()"
      (click)="edit.emit()"
    >
      <i class="material-icons" aria-hidden="true"> edit </i>
      <span class="button-reveal-label-text"
        ><span>{{ translations().edit() }}</span></span
      >
    </button>
  }
  @if (permissionDelete()) {
    <button
      class="button-icon button-reveal-label button-danger"
      [libcRevealLabel]="translations().delete()"
      data-test-id="item-dialog-delete"
      [attr.aria-label]="translations().delete()"
      [title]="translations().delete()"
      (click)="delete.emit()"
    >
      <i class="material-icons" aria-hidden="true"> delete </i>
      <span class="button-reveal-label-text"
        ><span>{{ translations().delete() }}</span></span
      >
    </button>
  }
}
