<div class="float-button random-pick">
  <button
    class="button-icon material-icons"
    [attr.aria-label]="('RandomPick' | signalTranslate)()"
    [title]="('RandomPick' | signalTranslate)()"
    [disabled]="apiLoadNetworkStatus() === 'pending' || collectionLength() === 0"
    (click)="onRandomPick()"
  >
    casino
  </button>
</div>
@if (permissionAdd()) {
  <div class="float-button add-new">
    <button
      class="button-icon material-icons"
      [attr.aria-label]="('AddNew' | signalTranslate)()"
      [title]="('AddNew' | signalTranslate)()"
      [disabled]="apiLoadNetworkStatus() === 'pending'"
      (click)="onAddNew()"
    >
      add
    </button>
  </div>
}
<div
  #scrollContainer
  class="list"
  role="list"
  [attr.aria-label]="('Collection' | signalTranslate)()"
  [attr.aria-busy]="apiLoadNetworkStatus() === 'pending'"
>
  @if (!apiLoadNetworkStatus() || apiLoadNetworkStatus() === 'pending') {
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
    <ct-collection-list-item-skeleton />
  } @else {
    @for (collectionItem of paginatedCollection(); track $index) {
      @defer (on viewport; prefetch on idle) {
        <ct-collection-list-item [collectionItem]="collectionItem" />
      } @placeholder {
        <ct-collection-list-item-skeleton />
      }
    } @empty {
      <div class="list-empty">
        <i class="material-icons">movie</i>
        @if (collectionLength() === 0) {
          {{ ('Message.EmptyCollection' | signalTranslate)() }}<br />
          <a href="#" role="button" (click)="onAddNew()">{{
            ('Message.AddFirstCollectionItem' | signalTranslate)()
          }}</a>
        } @else {
          {{ ('Message.EmptySearch' | signalTranslate)() }}<br />
        }
      </div>
    }
  }
</div>
<div class="pagination">
  <button
    class="button-icon material-icons"
    [attr.aria-label]="('First' | signalTranslate)()"
    [title]="('First' | signalTranslate)()"
    [disabled]="disablePreviousButton()"
    (click)="onFirstPage()"
  >
    first_page
  </button>
  <button
    class="button-icon material-icons"
    [attr.aria-label]="('Previous' | signalTranslate)()"
    [title]="('Previous' | signalTranslate)()"
    [disabled]="disablePreviousButton()"
    (click)="onPreviousPage()"
  >
    chevron_left
  </button>
  <button
    class="button-icon material-icons"
    [attr.aria-label]="('Next' | signalTranslate)()"
    [title]="('Next' | signalTranslate)()"
    [disabled]="disableNextButton()"
    (click)="onNextPage()"
  >
    chevron_right
  </button>
  <button
    class="button-icon material-icons"
    [attr.aria-label]="('Last' | signalTranslate)()"
    [title]="('Last' | signalTranslate)()"
    [disabled]="disableNextButton()"
    (click)="onLastPage()"
  >
    last_page
  </button>
</div>
