:root {
  --font-size-default: 16px;
  --font-size-smaller: 0.5rem;
  --font-size-small: 0.75rem;
  --font-size-big: 1.25rem;
  --font-size-bigger: 1.5rem;
  --size-bigger: 1.5rem;
  --size-big: 1.25rem;
  --size-default: 1rem;
  --size-small: 0.5rem;
  --size-smaller: 0.25rem;
  --border-radius: 5px;
  --border-style: 1px solid var(--base-color-darker);
  --outline-style: 2px solid var(--base-color-darker);
  --outline-offset: 2px;
}
