:host {
  --dropdown-transition: 140ms opacity 60ms ease-out, 140ms height 60ms ease-out;
  --logo-size: 40px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-default) 0;
  height: var(--header-height);
  background-color: var(--glassy-background);
}

.header {
  display: flex;

  a {
    display: flex;
    flex-direction: column;
  }

  img {
    display: block;
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 35%;
    border: var(--outline-style);
    border-color: var(--focus-border-color);
    margin-left: var(--size-default);
  }

  h1 {
    line-height: 1;
    font-size: var(--font-size-default);
    margin: auto 0;
    margin-left: var(--size-default);

    @media (width <= 260px) {
      display: none;
    }
  }
}

.dropdown-menu {
  position: relative;
  padding: var(--size-default);

  .dropdown-menu-list {
    position: absolute;
    top: var(--header-height);
    right: var(--size-default);
    display: inline-flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    height: 0;
    transition: var(--dropdown-transition);
    border-radius: var(--border-radius);
    overflow: hidden;
    border: var(--border-style);
    background-color: var(--background-color-alt);
    padding: calc(2 * var(--outline-offset));

    a {
      display: flex;
      align-items: center;
      height: 0;
      opacity: 0;
      transition: var(--dropdown-transition);
      padding: var(--size-smaller) var(--size-default);
      color: var(--text-color);
      text-decoration: none;
      white-space: nowrap;

      i {
        font-size: var(--font-size-default);
        margin-right: var(--size-small);
      }

      &:hover {
        color: var(--main-color);
      }

      &.active {
        color: var(--main-color);
      }
    }
  }

  &.open {
    .dropdown-menu-list {
      pointer-events: auto;
      height: 205px;
      opacity: 1;
      display: flex;
      justify-content: space-between;

      a {
        height: 100%;
        opacity: 1;
      }
    }
  }
}
