:host {
  --dropdown-transition: 140ms opacity 60ms ease-out, 140ms height 60ms ease-out;
  --logo-size: 40px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-default) 0;
  height: var(--header-height);
  background-color: var(--glassy-background);
}

.header {
  display: flex;

  a {
    display: flex;
    flex-direction: column;
  }

  img {
    display: block;
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 35%;
    border: var(--outline-style);
    border-color: var(--focus-border-color);
    margin-left: var(--size-default);
  }

  h1 {
    line-height: 1;
    font-size: var(--font-size-default);
    margin: auto 0;
    margin-left: var(--size-default);

    @media (width <= 260px) {
      display: none;
    }
  }
}

.dropdown-menu {
  position: relative;
  padding: var(--size-default);

  .dropdown-menu-list {
    position: absolute;
    top: var(--header-height);
    right: var(--size-default);
    display: inline-flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    height: 0;
    transition: var(--dropdown-transition);
    border-radius: var(--border-radius);
    overflow: hidden;
    border: var(--border-style);
    background-color: var(--background-color-alt);
    padding: calc(2 * var(--outline-offset));

    .dropdown-menu-list-header {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      height: 0;
      opacity: 0;
      transition: var(--dropdown-transition);
      padding: var(--size-smaller) var(--size-default);
      color: var(--text-color);
      text-decoration: none;
      white-space: nowrap;

      i {
        font-size: var(--font-size-default);
        margin-right: var(--size-small);
      }

      &:hover {
        color: var(--main-color);
      }

      &.active {
        color: var(--main-color);
      }
    }
  }

  &.open .dropdown-menu-list {
    pointer-events: auto;
    height: 205px;
    opacity: 1;
    display: flex;
    justify-content: space-between;

    a {
      height: 100%;
      opacity: 1;
    }
  }
}

@media (width <= 450px) {
  .dropdown-menu {
    .dropdown-menu-list {
      position: fixed;
      width: 100vw;
      top: 0;
      right: 0;
      border-radius: 0;
      border: none;
      justify-content: flex-start !important;
      padding: var(--size-default);

      .dropdown-menu-list-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50%;

        div {
          display: flex;
          align-items: center;
          gap: var(--size-default);

          img {
            width: var(--logo-size);
            height: var(--logo-size);
            border-radius: 35%;
            border: var(--outline-style);
            border-color: var(--focus-border-color);
            display: inline;
          }

          h1 {
            line-height: 1;
            font-size: var(--font-size-default);
          }
        }
      }

      a,
      i {
        font-size: var(--font-size-big);
      }

      a {
        height: auto;
      }

      a.highlight {
        font-size: var(--font-size-huge);
        font-weight: bold;

        i {
          font-size: var(--font-size-huge);
        }
      }

      a.space {
        margin-bottom: var(--size-default);
      }
    }

    &.open {
      .dropdown-menu-list {
        height: 100vh;

        a {
          height: auto;
        }
      }
    }
  }
}
