:host {
  display: flex;
  align-items: center;
  margin: var(--size-small);

  h3 {
    color: var(--main-color);
    font-size: var(--font-size-medium);
  }

  .image {
    flex-basis: var(--image-width);
    display: block;
    width: var(--image-width);
    height: var(--image-height);
    border-radius: var(--border-radius);
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--image-width) var(--image-height);
    cursor: pointer;

    &:hover {
      outline: var(--outline-style);
      outline-color: var(--focus-border-color);
    }
  }

  .content {
    flex-basis: calc(100% - var(--image-width));
    display: flex;
    flex-direction: column;
    padding: var(--size-small);

    .content-info {
      margin-bottom: var(--size-small);
    }
  }

  a {
    vertical-align: middle;

    i {
      font-size: var(--font-size-small);
    }
  }
}
