@if (collectionItem(); as collectionItem) {
  <div
    data-test-id="list-item-image"
    class="image"
    tabindex="0"
    role="button"
    [style.backgroundImage]="'url(' + imageUrl() + ')'"
    [attr.aria-label]="collectionItem.title"
    (click)="onOpenDetail()"
    (keyup)="onOpenDetail()"
  >
    @if (imageBadgeTag(); as imageBadgeTag) {
      <a
        href="#"
        role="button"
        class="badge"
        [style.backgroundColor]="badgeBackgroundColor()"
        [style.color]="badgeTextColor()"
        [class.silent-disabled]="useAiSearch()"
        (click)="onSetSearchText(imageBadgeTag, $event)"
      >
        {{ imageBadgeTag }}
      </a>
    }
  </div>
  <div class="content">
    <h3 data-test-id="list-item-title">
      <a href="#" role="button" (click)="onOpenDetail()" (keyup)="onOpenDetail()"> {{ collectionItem.title }} </a>
    </h3>
    <div class="meta">
      <span class="meta-column">
        @if (collectionItem.year) {
          <span>{{ collectionItem.year }}</span>
        }
        @if (collectionItem.rate) {
          <span class="rating"> <i class="material-icons"> star_rate </i> {{ collectionItem.rate }} </span>
        }
        @if (collectionItem.userRate !== null) {
          <span class="rating"> <i class="material-icons"> person </i> {{ collectionItem.userRate }} </span>
        }
      </span>
      <span class="meta-column">
        @if (favorite()) {
          <span class="favorite" data-test-id="list-item-favorite" [title]="translations.favorite()">
            <i class="material-icons">star</i>
          </span>
        }
        @if (shared()) {
          <span class="shared" data-test-id="list-item-shared" [title]="translations.shared()">
            <i class="material-icons">share</i>
          </span>
        }
      </span>
    </div>
  </div>
}
