:host {
  --image-border-width: 3.5px;

  display: flex;
  align-items: center;
  margin: var(--size-xs);

  h3 {
    color: var(--main-color);
    font-size: var(--font-size-base);
  }

  .badge {
    position: absolute;
    top: -5%;
    font-size: var(--font-size-sm);
    left: calc(var(--image-width) / 2 - var(--image-border-width));
    padding: 0 var(--size-2xs);
    border-radius: var(--border-radius);
    transform: translateX(-50%);

    @media (width <= 520px) {
      font-size: 0.6rem;
    }
  }

  .image {
    flex-basis: var(--image-width);
    display: block;
    width: var(--image-width);
    height: var(--image-height);
    border-radius: var(--border-radius);
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--image-width) var(--image-height);
    cursor: pointer;
    border-width: var(--image-border-width);
    border-style: solid;
    border-color: transparent;
    position: relative;

    &:hover {
      outline: var(--outline-style);
      outline-color: var(--focus-border-color);
    }
  }

  .content {
    flex-basis: calc(100% - var(--image-width));
    display: flex;
    flex-direction: column;
    padding: var(--size-xs);
  }

  a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-2xs);

    i {
      font-size: var(--font-size-sm);
    }
  }
}
