<ct-float-buttons
  [scrollToTopAvailable]="scrollToTopAvailable()"
  (randomPick)="onRandomPick()"
  (toggleClaudeAi)="onToggleClaudeAi()"
  (addNew)="onAddNew()"
  (scrollToTop)="onResetScrollPosition()"
/>
<div
  #scrollContainer
  data-test-id="collection-list"
  class="list"
  role="list"
  [attr.aria-label]="('Collection' | signalTranslate)()"
  [attr.aria-busy]="apiLoadNetworkStatus() === 'pending'"
  (scroll)="onScroll()"
>
  @if (!apiLoadNetworkStatus() || apiLoadNetworkStatus() === 'pending') {
    <ct-list-item-skeleton />
    <ct-list-item-skeleton />
    <ct-list-item-skeleton />
    <ct-list-item-skeleton />
    <ct-list-item-skeleton />
    <ct-list-item-skeleton />
    <ct-list-item-skeleton />
    <ct-list-item-skeleton />
    <ct-list-item-skeleton />
    <ct-list-item-skeleton />
  } @else {
    @for (collectionItem of visibleCollection(); track collectionItem) {
      @defer (on viewport; prefetch on idle) {
        <ct-list-item [collectionItem]="collectionItem" />
      } @placeholder {
        <ct-list-item-skeleton />
      }
    } @empty {
      <div data-test-id="list-empty" class="list-empty">
        <i class="material-icons">movie</i>
        @if (collectionLength() === 0) {
          {{ ('Message.EmptyCollection' | signalTranslate)() }}<br />
          <a data-test-id="add-first-item" href="#" role="button" (click)="onAddNew()">{{
            ('Message.AddFirstCollectionItem' | signalTranslate)()
          }}</a>
        } @else {
          {{ ('Message.EmptySearch' | signalTranslate)() }}<br />
        }
      </div>
    }
  }
</div>
