.list {
  max-height: calc(100vh - var(--header-height) - 2 * var(--size-md) - 72px);
  max-height: calc(100svh - var(--header-height) - 2 * var(--size-md) - 72px);
  max-height: calc(100dvh - var(--header-height) - 2 * var(--size-md) - 72px);
  overflow: hidden auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  gap: var(--size-md);
  padding: var(--size-md);

  .list-empty {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column: 1 / -1;

    i {
      text-align: center;
      font-size: calc(8 * var(--size-md));
    }

    a {
      margin-bottom: var(--size-md);
    }
  }
}

@media (width <= 520px) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width > 768px) {
  .list {
    max-height: calc(100vh - 2 * var(--size-md) - 72px);
    max-height: calc(100svh - 2 * var(--size-md) - 72px);
    max-height: calc(100dvh - 2 * var(--size-md) - 72px);
  }
}
