:host {
  display: block;
  height: 100%;
  min-height: 0;
}

.list {
  box-sizing: border-box;
  height: calc(100vh - var(--header-height) - 2 * var(--size-md));
  height: calc(100svh - var(--header-height) - 2 * var(--size-md));
  height: calc(100dvh - var(--header-height) - 2 * var(--size-md));
  overflow: hidden auto;
  padding: var(--size-md);

  .list-error {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-sm);
    padding: var(--size-sm);
    background: var(--background-color);
    text-align: center;
  }

  .list-items,
  .list-loading {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    grid-auto-rows: max-content;
    align-content: start;
    gap: var(--size-md);
  }

  .list-empty {
    display: flex;
    flex-direction: column;
    text-align: center;

    i {
      text-align: center;
      font-size: calc(8 * var(--size-md));
    }

    .text-button {
      margin-inline: auto;
      margin-bottom: var(--size-md);
    }
  }
}

@media (width <= 520px) {
  .list {
    .list-items,
    .list-loading {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (width > 1250px) {
  .list {
    height: calc(100vh - 2 * var(--size-md));
    height: calc(100svh - 2 * var(--size-md));
    height: calc(100dvh - 2 * var(--size-md));
  }
}

:host-context(.collection-container--with-chips) .list {
  height: 100%;
  padding-top: 0;
}
