:host {
  --dialog-frame-max-height: 320px;
}

.panel-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-sm);
    width: var(--icon-button-size);
    height: var(--icon-button-size);

    &:hover {
      outline: var(--outline-style);
      outline-color: var(--focus-border-color);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  .text-button {
    display: flex;
    align-items: center;
    gap: var(--size-sm);
    padding: var(--size-xs) var(--size-sm);
    text-decoration: none;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-sm);

    &:hover {
      outline: var(--outline-style);
      outline-color: var(--focus-border-color);
      border-radius: var(--border-radius);
    }

    &:active {
      transform: scale(0.98);
    }

    span {
      opacity: 0.5;
    }

    .material-icons {
      display: flex;
    }
  }
}
