:host {
  --logo-size: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  padding: var(--size-md) 0;
  background-color: var(--glassy-background);
}

.header {
  display: flex;
  align-items: center;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2px;

    &:hover,
    &:visited,
    &:focus {
      text-decoration: none;
    }
  }

  img {
    display: block;
    margin-left: var(--size-md);
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 35%;
    border: var(--outline-style);
    border-color: var(--focus-border-color);
  }

  h1 {
    margin: auto 0 auto var(--size-xs);
    line-height: 1;
    font-size: var(--font-size-lg);
    color: var(--glassy-background) !important;

    @media (width <= 260px) {
      display: none;
    }
  }
}

button {
  margin-right: var(--size-md);
}
