:host {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding: var(--size-md) 0;
  background-color: var(--glassy-background);
}

.header {
  display: flex;
  align-items: center;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2px;

    &:hover,
    &:visited,
    &:focus {
      text-decoration: none;
    }
  }

  h1 {
    line-height: 1;
    font-size: var(--font-size-lg);
    color: var(--glassy-background) !important;

    @media (width <= 260px) {
      display: none;
    }
  }
}

.menu-button {
  margin-left: var(--size-xs);
  margin-right: var(--size-xs);
}

@media (width > 768px) {
  .menu-button {
    display: none;
  }
}
