<form role="form" [formRoot]="form">
  <h3>{{ ('MarkdownTemplate' | signalTranslate)() }}</h3>
  <p>{{ ('Message.ParserTemplate' | signalTranslate)() }}</p>
  <libc-textarea
    data-test-id="parser-md-template"
    [label]="('RawTemplate' | signalTranslate)()"
    [mandatory]="true"
    [formField]="form.mdTemplate"
    [rows]="15"
  >
    <ng-container errors>
      @if (formErrors.mdTemplate.invalidMdTemplate()) { {{ ( 'Validation.MissingKeys' | signalTranslate: { keys:
      formErrors.mdTemplate.invalidMdTemplate()?.missingKeys || '' } )() }} }
    </ng-container>
  </libc-textarea>
  <libc-input
    data-test-id="parser-filename-pattern"
    [label]="('FilenamePattern' | signalTranslate)()"
    [mandatory]="true"
    [formField]="form.filenamePattern"
    [hint]="('Message.FilenamePattern' | signalTranslate)()"
  >
    <ng-container errors>
      @if (formErrors.filenamePattern.invalidExtension()) { {{ ('Validation.EndsWithMd' | signalTranslate)() }} }
    </ng-container>
  </libc-input>
  <h3>{{ ('TemplateVariables' | signalTranslate)() }}</h3>
  <p>{{ ('Message.TemplateVariables' | signalTranslate)() }}</p>
  <code>
    {{ '{{ Title }}' }}: Neotrix<br />
    {{ '{{ imdbID }}' }}: tt1234567<br />
    {{ '{{ imdbRating }}' }}: 10.1<br />
    {{ '{{ Plot }}' }}: Neo is born in the Neotrix.<br />
    {{ '{{ Poster }}' }}: https://image.url/sample.jpg<br />
    {{ '{{ Year }}' }}: 1999<br />
    {{ '{{ Director }}' }}: John Doe<br />
    {{ '{{ Genre }}' }}: Action, Adventure<br />
    {{ '{{ Actors }}' }}: John Doe, Jane Smith<br />
    {{ '{{ YoutubeQuery }}' }}: Neotrix<br />
    {{ '{{ WebQuery }}' }}: Neotrix<br />
    {{ '{{ Type }}' }}: #movie<br />
    {{ '{{ Tags }}' }}: #favorite, #watched<br />
  </code>
  <libc-details [summary]="('TemplateRegexps' | signalTranslate)()" [open]="true">
    <p>{{ ('Message.TemplateRegexps' | signalTranslate)() }}</p>
    <libc-input
      data-test-id="parser-imdb-id"
      [label]="('IMDbIdRegexp' | signalTranslate)()"
      [mandatory]="true"
      [formField]="form.IMDbId"
      [hint]="('Message.IMDBIdRegexp' | signalTranslate)()"
    />
    <libc-input
      data-test-id="parser-genre"
      [label]="('GenreRegexp' | signalTranslate)()"
      [mandatory]="true"
      [formField]="form.genre"
      [hint]="('Message.GenreRegexp' | signalTranslate)()"
    />
    <libc-input
      data-test-id="parser-genre-token"
      [label]="('GenreTokenRegexp' | signalTranslate)()"
      [mandatory]="true"
      [formField]="form.genreToken"
      [hint]="('Message.GenreTokenRegexp' | signalTranslate)()"
    />
    <libc-input
      data-test-id="parser-image"
      [label]="('ImageRegexp' | signalTranslate)()"
      [mandatory]="true"
      [formField]="form.image"
      [hint]="('Message.ImageRegexp' | signalTranslate)()"
    />
    <libc-input
      data-test-id="parser-imdb-rate"
      [label]="('IMDbRateRegexp' | signalTranslate)()"
      [mandatory]="true"
      [formField]="form.IMDbRate"
      [hint]="('Message.IMDbRateRegexp' | signalTranslate)()"
    />
    <libc-input
      data-test-id="parser-tags"
      [label]="('TagsRegexp' | signalTranslate)()"
      [mandatory]="true"
      [formField]="form.tags"
      [hint]="('Message.TagsRegexp' | signalTranslate)()"
    />
    <libc-input
      data-test-id="parser-tag-token"
      [label]="('TagTokenRegexp' | signalTranslate)()"
      [mandatory]="true"
      [formField]="form.tagToken"
      [hint]="('Message.TagTokenRegexp' | signalTranslate)()"
    />
    <libc-input
      data-test-id="parser-title"
      [label]="('TitleRegexp' | signalTranslate)()"
      [mandatory]="true"
      [formField]="form.title"
      [hint]="('Message.TitleRegexp' | signalTranslate)()"
    />
    <libc-input
      data-test-id="parser-year"
      [label]="('YearRegexp' | signalTranslate)()"
      [mandatory]="true"
      [formField]="form.year"
      [hint]="('Message.YearRegexp' | signalTranslate)()"
    />
    <libc-input
      data-test-id="parser-content"
      [label]="('ContentRegexp' | signalTranslate)()"
      [mandatory]="true"
      [formField]="form.content"
      [hint]="('Message.ContentRegexp' | signalTranslate)()"
    />
  </libc-details>

  <div class="form-buttons">
    <button data-test-id="parser-save" type="submit" [disabled]="form().invalid()">
      <i class="material-icons" [title]="('Save' | signalTranslate)()"> save </i>
      {{ ('Save' | signalTranslate)() }}
    </button>
    <button
      data-test-id="parser-preview"
      type="button"
      class="button-basic"
      [disabled]="form().invalid()"
      (click)="onGeneratePreview()"
    >
      <i class="material-icons" [title]="('Preview' | signalTranslate)()"> visibility </i>
      {{ ('Preview' | signalTranslate)() }}
    </button>
  </div>

  <libc-details [summary]="('RefreshTemplates' | signalTranslate)()" [open]="true">
    <p>{{ ('Message.RefreshTemplates' | signalTranslate)() }}</p>

    <div class="form-buttons">
      <button
        data-test-id="parser-refresh-start"
        type="button"
        [disabled]="form().invalid() || apiLoadNetworkStatus() !== 'finished'"
        (click)="onRefreshTemplates()"
      >
        <i class="material-icons" [title]="('Start' | signalTranslate)()"> start </i>
        {{ ('Start' | signalTranslate)() }}
      </button>
    </div>
  </libc-details>
</form>
