:host {
  --float-button-container-size: 45px;
}

.float-button {
  position: fixed;
  right: 0;
  height: var(--float-button-container-size);
  width: var(--float-button-container-size);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--size-xs);

  button {
    height: 100%;
    width: 100%;
  }
}

.random-pick {
  bottom: 0;
}

.scroll-to-top {
  bottom: calc(4 * var(--size-xs) + 3 * var(--float-button-container-size));
  margin-bottom: 0;
}

.add-new {
  bottom: calc(3 * var(--size-xs) + 2 * var(--float-button-container-size));
  margin-bottom: 0;
}

.claude-ai-toggle {
  bottom: calc(2 * var(--size-xs) + var(--float-button-container-size));
  margin-bottom: 0;
}
