:host {
  --float-button-container-size: 45px;
}

.float-button {
  height: var(--float-button-container-size);
  width: var(--float-button-container-size);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: 100%;
    width: 100%;
  }
}

.float-show-button {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: var(--size-xs);
}

.float-buttons-container {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-xs);
  margin: var(--size-xs);
}
