<div class="header">
  <h2>{{ translations.signUp() }}</h2>
  <p>{{ translations.messageSignUp() }}</p>
</div>
<form role="form" [attr.aria-label]="translations.signUp()" [formRoot]="form">
  <libc-input
    data-test-id="sign-up-username"
    icon="person"
    [label]="translations.username()"
    [mandatory]="true"
    [formField]="form.username"
  >
    <ng-container errors>
      @if (formErrors.username.minLength()) {
        {{ translations.validationUsernameMinLength() }}
      }
      @if (formErrors.username.maxLength()) {
        {{ translations.validationUsernameMaxLength() }}
      }
    </ng-container>
  </libc-input>
  @if (secret()) {
    <label for="secret">{{ translations.secret() }}</label>
    <code id="secret" data-test-id="sign-up-secret-value">{{ secret() }}</code>
    <a
      tabindex="0"
      role="button"
      class="text-button"
      [attr.aria-label]="translations.copyToClipboard()"
      (click)="onCopyToClipboard()"
      (keyup.enter)="onCopyToClipboard()"
    >
      {{ translations.copyToClipboard() }}
    </a>
    <small> {{ translations.messageSignUpSecret() }} </small>
  }
  @if (showApiUrlInput()) {
    <libc-input
      [label]="translations.apiUrl()"
      [hint]="translations.messageApiUrl()"
      [mandatory]="true"
      [formField]="form.apiUrl"
    />
  }

  <div class="form-buttons">
    @if (!secret()) {
      <button data-test-id="sign-up-submit" type="submit" class="button-custom" [disabled]="form().invalid()">
        {{ translations.continue() }}
      </button>
    }
    <hr />
    <div>
      <a data-test-id="sign-in-link" [routerLink]="['/', 'sign-in']"> {{ translations.backToSignIn() }} </a>
      @if (!showApiUrlInput() && !secret()) {
        <button type="button" class="button-basic button-custom" (click)="showApiUrlInput.set(true)">
          {{ translations.changeApiUrl() }}
        </button>
      }
    </div>
  </div>
</form>
