<div class="header">
  <i class="material-icons">person_add</i>
  <h2>{{ ('SignUp' | signalTranslate)() }}</h2>
  <p>
    {{ ('Message.SignUp' | signalTranslate)() }}
  </p>
</div>
<form role="form" [attr.aria-label]="('SignUp' | signalTranslate)()" [formGroup]="formGroup">
  <libc-input
    icon="person"
    [label]="('Username' | signalTranslate)()"
    [mandatory]="true"
    [formControl]="formGroup.controls.username"
  >
    <ng-container errors>
      @if (!!formGroup.controls.username.errors?.['minlength']) {
        {{ ('Validation.UsernameMinLength' | signalTranslate)() }}
      }
      @if (!!formGroup.controls.username.errors?.['maxlength']) {
        {{ ('Validation.UsernameMaxLength' | signalTranslate)() }}
      }
    </ng-container>
  </libc-input>
  @if (secret()) {
    <label for="secret">{{ ('Secret' | signalTranslate)() }}</label>
    <code id="secret">{{ secret() }}</code>
    <a
      tabindex="0"
      role="button"
      class="small-text-button"
      [attr.aria-label]="('CopyToClipboard' | signalTranslate)()"
      (click)="onCopyToClipboard()"
      (keyup.enter)="onCopyToClipboard()"
    >
      {{ ('CopyToClipboard' | signalTranslate)() }}
    </a>
    <small>
      {{ ('Message.SignUpSecret' | signalTranslate)() }}
    </small>
  }

  @if (showApiUrlInput()) {
    <libc-input
      [label]="('ApiUrl' | signalTranslate)()"
      [hint]="('Message.ApiUrl' | signalTranslate)()"
      [mandatory]="true"
      [formControl]="formGroup.controls.apiUrl"
    />
  }

  <div class="form-buttons">
    @if (!secret()) {
      <button [disabled]="formGroup.invalid" (click)="onSend()">
        {{ ('Continue' | signalTranslate)() }}
      </button>
    }
    <hr />
    <div>
      <a [routerLink]="['/', 'sign-in']">
        {{ ('BackToSignIn' | signalTranslate)() }}
      </a>
      @if (!showApiUrlInput() && !secret()) {
        <button class="button-basic" (click)="showApiUrlInput.set(true)">
          {{ ('ChangeApiUrl' | signalTranslate)() }}
        </button>
      }
    </div>
  </div>
</form>
