:host {
  --logo-size: 40px;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--size-md);
  gap: var(--size-xl);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--size-lg);
  gap: var(--size-xl);
  width: 100%;
  max-width: 480px;
  border-radius: var(--card-border-radius);
  background-color: var(--background-color-alt);
  box-shadow: var(--card-shadow);

  @media (width <= 520px) {
    padding: var(--size-md);
  }
}

.header {
  display: flex;
  align-items: center;
  gap: var(--size-xs);

  img {
    width: calc(var(--logo-size) * 2);
    height: calc(var(--logo-size) * 2);
    border-radius: 35%;
    border: var(--outline-style);
    border-color: var(--focus-border-color);
  }

  h1 {
    font-size: var(--font-size-4xl);
    line-height: 1;
    color: var(--background-color);
  }
}
