:host {
  display: flex;
  flex-flow: wrap;
  gap: var(--size-default);
  max-width: var(--container-max-width);
  justify-content: space-around;
  margin: 0 auto;

  @media (width <= 520px) {
    max-width: var(--container-max-width-mobile);
  }
}

.statistics-group {
  width: 100%;
  background-color: var(--glassy-background);
  border-radius: var(--border-radius);
  padding: var(--size-default);
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: calc(var(--size-default) - var(--size-small));
  }

  ct-statistics-item::after {
    content: "";
    outline: var(--outline-style);
    outline-color: var(--focus-border-color);
    border-radius: var(--border-radius);
    width: var(--percent);
    height: 32px;
    top: 0;
    display: block;
    position: relative;
    transform: translateY(-100%);
    z-index: 0;
  }
}
