:host {
  display: flex;
  flex-direction: column;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-md);
}

.tags-empty {
  text-align: center;
  margin-top: var(--size-md);
}

canvas {
  margin-top: var(--size-md);
}
