:host {
  display: flex;
  flex-direction: column;

  > libc-callout {
    margin-bottom: var(--size-xs);
  }
}

.tag-management-toolbar {
  display: flex;
  align-items: center;
  gap: var(--size-md);
  margin-bottom: var(--size-md);
  flex-wrap: wrap;

  libc-input {
    flex: 1 1 240px;
  }

  button {
    display: inline-flex;
    align-items: center;
    gap: var(--size-2xs);
    white-space: nowrap;
  }
}

.tag-management {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--size-md);
}

.tag-management-import-file {
  display: none;
}
