:host {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(var(--size-small));
  pointer-events: none;
  will-change: filter;
  contain: layout paint;
}

img {
  z-index: -1;
  width: 90px;
  position: absolute;
  top: var(--y);
  left: var(--x);
  animation-name: image-animation;
  animation-timing-function: linear;
  animation-duration: var(--animation-duration);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-delay: var(--animation-delay, 0s);
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

@keyframes image-animation {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 100vh, 0);
  }
}
