<div class="header">
  <h2>{{ ('SignIn' | signalTranslate)() }}</h2>
  <p>{{ ('Message.SignIn' | signalTranslate)() }}</p>
</div>
<form role="form" [attr.aria-label]="('SignIn' | signalTranslate)()" [formRoot]="form">
  <libc-input
    data-test-id="sign-in-username"
    icon="person"
    [label]="('Username' | signalTranslate)()"
    [mandatory]="true"
    [formField]="form.username"
    ><ng-container errors>
      @if (formErrors.username.minLength()) {
        {{ ('Validation.UsernameMinLength' | signalTranslate)() }}
      }
      @if (formErrors.username.maxLength()) {
        {{ ('Validation.UsernameMaxLength' | signalTranslate)() }}
      }
    </ng-container>
  </libc-input>
  <libc-input
    data-test-id="sign-in-token"
    icon="lock"
    [label]="('Secret' | signalTranslate)()"
    [mandatory]="true"
    [type]="tokenInputType()"
    [formField]="form.token"
  />
  <a
    data-test-id="sign-in-toggle-secret"
    class="text-button"
    tabindex="0"
    role="button"
    [attr.aria-pressed]="tokenInputType() === 'text'"
    [attr.aria-label]="((tokenInputType() === 'text' ? 'HideSecret' : 'ShowSecret') | signalTranslate)()"
    (click)="onToggleTokenInputType()"
    (keyup.enter)="onToggleTokenInputType()"
  >
    {{ ((tokenInputType() === 'text' ? 'ShowSecret' : 'HideSecret') | signalTranslate)() }}
  </a>
  @if (showApiUrlInput()) {
    <libc-input
      data-test-id="sign-in-api-url"
      [label]="('ApiUrl' | signalTranslate)()"
      [hint]="('Message.ApiUrl' | signalTranslate)()"
      [mandatory]="true"
      [formField]="form.apiUrl"
    />
  }

  <div class="form-buttons">
    <button data-test-id="sign-in-submit" type="submit" class="button-custom" [disabled]="form().invalid()">
      {{ ('Continue' | signalTranslate)() }}
    </button>
    <hr />
    <div>
      <a data-test-id="sign-up-link" [routerLink]="['/', 'sign-up']"> {{ ('SignUp' | signalTranslate)() }} </a>
      @if (companionAppDetected) {
        <button type="button" class="button-basic button-custom" (click)="onResetCompanionAppConfig()">
          {{ ('CompanionAppReset' | signalTranslate)() }}
        </button>
      } @else {
        @if (!showApiUrlInput()) {
          <button
            data-test-id="sign-in-change-api-url"
            type="button"
            class="button-basic button-custom"
            (click)="showApiUrlInput.set(true)"
          >
            {{ ('ChangeApiUrl' | signalTranslate)() }}
          </button>
        }
      }
    </div>
  </div>

  <hr class="options-divider" />

  <div class="quick-options">
    <libc-select
      data-test-id="sign-in-language"
      [label]="('Language' | signalTranslate)()"
      [formField]="form.language"
      [options]="languageOptions()"
    />
    <libc-select
      data-test-id="sign-in-theme"
      [label]="('Theme' | signalTranslate)()"
      [formField]="form.theme"
      [options]="themeOptions()"
    />
  </div>
</form>
