<div class="header">
  <h2>{{ translations.welcomeBack() }}</h2>
  <p>{{ translations.messageSignIn() }}</p>
</div>
<form role="form" [attr.aria-label]="translations.signIn()" [formRoot]="form">
  <libc-input
    data-test-id="sign-in-username"
    icon="person"
    [label]="translations.username()"
    [mandatory]="true"
    [formField]="form.username"
    ><ng-container errors>
      @if (formErrors.username.minLength()) {
        {{ translations.validationUsernameMinLength() }}
      }
      @if (formErrors.username.maxLength()) {
        {{ translations.validationUsernameMaxLength() }}
      }
    </ng-container>
  </libc-input>
  <libc-input
    data-test-id="sign-in-token"
    icon="lock"
    [label]="translations.secret()"
    [mandatory]="true"
    [type]="tokenInputType()"
    [formField]="form.token"
  />
  <button
    type="button"
    data-test-id="sign-in-toggle-secret"
    class="text-button"
    [attr.aria-pressed]="tokenInputType() === 'text'"
    [attr.aria-label]="translations.toggleSecretAriaLabel()"
    (click)="onToggleTokenInputType()"
  >
    {{ translations.toggleSecretLabel() }}
  </button>
  @if (showApiUrlInput()) {
    <libc-input
      data-test-id="sign-in-api-url"
      [label]="translations.apiUrl()"
      [hint]="translations.messageApiUrl()"
      [mandatory]="true"
      [formField]="form.apiUrl"
    />
  }

  <div class="form-buttons">
    <button data-test-id="sign-in-submit" type="submit" class="button-custom" [disabled]="form().invalid()">
      {{ translations.continue() }}
    </button>
    <hr />
    <div>
      <a data-test-id="sign-up-link" [routerLink]="['/', 'sign-up']"> {{ translations.signUp() }} </a>
      @if (companionAppDetected) {
        <button
          type="button"
          data-test-id="sign-in-reset-companion-app"
          class="button-basic button-custom"
          (click)="onResetCompanionAppConfig()"
        >
          {{ translations.companionAppReset() }}
        </button>
      } @else {
        @if (!showApiUrlInput()) {
          <button
            data-test-id="sign-in-change-api-url"
            type="button"
            class="button-basic button-custom"
            (click)="showApiUrlInput.set(true)"
          >
            {{ translations.changeApiUrl() }}
          </button>
        }
      }
    </div>
  </div>

  <hr class="options-divider" />

  <div class="quick-options">
    <libc-select
      data-test-id="sign-in-language"
      [label]="translations.language()"
      [formField]="form.language"
      [options]="languageOptions()"
    />
    <libc-select
      data-test-id="sign-in-theme"
      [label]="translations.theme()"
      [formField]="form.theme"
      [options]="themeOptions()"
    />
  </div>
</form>
