@if (collectionItem(); as collectionItem) {
  <div
    class="image"
    [style.backgroundImage]="'url(' + collectionItem.image + ')'"
    (click)="onOpenDetail()"
    (keyup)="onOpenDetail()"
    tabindex="0"
    role="button"
  ></div>
  <div class="content">
    <h3>
      <a href="#" (click)="onOpenDetail()" (keyup)="onOpenDetail()">
        {{ collectionItem.title }}
      </a>
    </h3>
    <span class="content-info">
      <small>
        @if (collectionItem.year) {
          <a href="#" (click)="onSetSearchText(collectionItem.year)">
            <i class="material-icons"> calendar_today </i> {{ collectionItem.year }}</a
          >&nbsp;
        }
        @if (collectionItem.rate) {
          <a href="#" (click)="onSetSearchText(collectionItem.rate)"
            ><i class="material-icons"> star_rate </i> {{ collectionItem.rate }}</a
          >&nbsp;
        }
      </small>
    </span>
    <span>
      @for (genre of collectionItem.genre; track $index) {
        <small>
          <a href="#" (click)="onSetSearchText(genre)">{{ genre }}</a
          >&nbsp;
        </small>
      }
    </span>
    <span>
      @for (tag of collectionItem.tags; track $index) {
        <small>
          <a href="#" (click)="onSetSearchText(tag)">{{ tag }}</a
          >&nbsp;
        </small>
      }
    </span>
  </div>
}
